.App {
  width: 100vw;
  height: 100vh;
  padding: 88px 24px 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 64px;
}

@media screen and (min-width: 1024px) {
  .App {
    flex-direction: row;
    gap: 45px;
  }
}
